{% extends 'Page_Template.html' %}

{% block pageheading %}
{% endblock %}

{% block content %}
    <div class="organiser">
    {% for word in word_list %}
        <div class="content_box">
            <div class="maori_word">
                <p>Maori Word: {{ word[1] }}</p>
            </div>
            <div class="english_translation">
                <p>English Translation:{{ word[4] }}</p>
            </div>
            <div class="definition">
                <p>Definition:{{ word[2] }}</p>
            </div>
            <div class="level">
                <p>Year Level: {{ word[3] }}</p>
            </div>
            <div class="category">
                <p>Word Category: {{ word[5] }}</p>
            </div>
            <div class="image"><image onerror=this.onerror=null;this. src='static/images/apple.jpg';></image></div>
        </div>
    {% endfor %}
    </div>
{% endblock %}