{% extends 'Page_Template.html' %}

{% block pageheading %}
{% endblock %}

{% block content %}
    <form method="post">
        <div class="form_box" >
            <label for="fname">First name:</label>
            <input type="text" id="fname" name="fname">
        </div></br>
        <div class="form_box">
            <label for="lname">Last name:</label>
            <input type="text" id="lname" name="lname">
        </div></br>
        <div class="form_box">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </div></br>
        <div class="form_box">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm_password">
        </div></br>
        <div class="form_box">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
        </div></br>
        <div class="form_box">
            <label for="teacher">Teacher</label>
            <input type="radio" id="teacher" name="permisson" value="1">
            <label for="student">Student</label>
            <input type="radio" id="student" name="permisson" value="2">
        </div></br>
        <div class="form_box">
            <input type="submit" value="Submit" >
        </div></br>
    </form>
    <h1>{{ error }}</h1>
{% endblock %}