{% extends 'Page_Template.html' %}

{% block pageheading %}
{% endblock %}

{% block content %}
    <form>
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname"></br>
        <label for="lname">Last name:</label></br>
        <input type="text" id="lname" name="lname"></br>
        <label for="password">Password</label></br>
        <input type="text" id="password" name="password"></br>
        <label for="email">Email:</label></br>
        <input type="text" id="email" name="email"></br>
        <label for="permission">Permissions:</label>
    </form>
{% endblock %}